:root {
    --primary: #000ff0;
    --primaryLight: #00ffff;
    --secondary: #00005a;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/*-- -------------------------- -->
<---           TICKETS          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-448 {
        padding: var(--sectionPadding);
    }
    #services-448 .container {
        width: 100%;
        /* changes at 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-448 .content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-448 .card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 16px - 20px */
        column-gap: clamp(1rem, 1.5vw, 1.25rem);
        /* 24px - 60px */
        row-gap: clamp(1.5rem, 5vw, 3.75rem);
    }
    #services-448 .item {
        list-style: none;
        width: 100%;
        max-width: 22.5rem;
        /* changes at desktop */
        padding-top: 9rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #services-448 .item:hover .picture img {
        transform: scale(1.2);
        opacity: 0.4;
    }
    #services-448 .item:hover .flex:before {
        opacity: 1;
    }
    #services-448 .picture {
        width: 100%;
        /* changes at desktop */
        height: 15.625rem;
        border-radius: 0.5rem;
        background-color: var(--primary);
        /* clips the corners of the image */
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #services-448 .picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it behave like a background image */
        object-fit: cover;
        /* positions top of image to the top of the container */
        object-position: top;
        transition:
            transform 0.9s,
            opacity 0.5s;
    }
    #services-448 .flex {
        text-align: center;
        width: 88%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        border: 1px solid #dad9e3;
        border-radius: 0.75rem;
        background-color: #fff;
        box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #services-448 .flex:before {
        /* hover border box */
        content: "";
        background: transparent;
        /* prevents the mouse from interacting with it */
        pointer-events: none;
        border: 4px solid var(--primary);
        border-radius: 0.75rem;
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        opacity: 0;
        position: absolute;
        display: block;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        transition: opacity 0.5s;
    }
    #services-448 .wrapper {
        /* 80px - 120px */
        width: clamp(5rem, 9.2vw, 7.5rem);
        height: clamp(5rem, 9.2vw, 7.5rem);
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
        /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .wrapper to overlap .flex by half its height, so we use the same clamp for height and half it for the margin top value */
        margin-top: calc(clamp(5rem, 9.2vw, 7.5rem) * -0.5);
        border-radius: 50%;
        border: 4px solid var(--primary);
        background-color: #fff;
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    #services-448 .icon {
        /* 48px - 64px */
        width: clamp(3rem, 4.3vw, 4rem);
        height: auto;
        display: block;
    }
    #services-448 .h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        color: var(--headerColor);
    }
    #services-448 .item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        font-weight: 400;
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
        color: var(--bodyTextColor);
    }
    #services-448 .link {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0;
        color: var(--primary);
        display: inline-block;
        position: relative;
    }
    #services-448 .link:hover:before {
        width: 100%;
    }
    #services-448 .link:before {
        /* animated underline */
        content: "";
        width: 0%;
        height: 3px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-448 .container {
        max-width: 80rem;
    }
    #services-448 .card-group {
        flex-direction: row;
    }
    #services-448 .item {
        width: 47%;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-448 .card-group {
        flex-wrap: nowrap;
    }
    #services-448 .item {
        width: 100%;
        /* 144px - 274px */
        padding-top: clamp(9rem, 17.5vw, 17.125rem);
    }
    #services-448 .picture {
        /* 224px - 428px */
        height: clamp(14rem, 28vw, 26.75rem);
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-298 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        border-radius: 2rem 2rem 0rem 0rem;
    }
    #sbsr-298 .container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #sbsr-298 .content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #sbsr-298 .title {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
    }
    #sbsr-298 .text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
    }
    #sbsr-298 .text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-298 .link {
        font-size: 1.25rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--primaryLight);
    }
    #sbsr-298 .button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--secondary);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--bodyTextColorWhite);
        border-radius: 2rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbsr-298 .button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primaryLight);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 2rem;
        transition: width 0.3s;
    }
    #sbsr-298 .button-solid:hover:before {
        width: 100%;
    }
    #sbsr-298 .image-group {
        width: 100%;
        max-width: 34.375rem;
        /* 78px - 108px */
        margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
        position: relative;
        display: block;
        /* width divided by height */
        aspect-ratio: 0.90358127;
    }
    #sbsr-298 .picture {
        /* big background image */
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    #sbsr-298 .picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.625rem;
        object-fit: cover;
    }
    #sbsr-298 .box {
        /* 204px - 326px & changes at desktop */
        width: clamp(12.75rem, 50vw, 20.375rem);
        height: clamp(12.75rem, 50vw, 20.375rem);
        border-radius: 0.625rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        /* 38px - 60px - wrapped in a calc function to make clamp values negative */
        bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
        transform: translateX(-50%);
        z-index: 10;
    }
    #sbsr-298 .box-picture {
        /* Background image for box */
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 0.625rem;
        /* clips img corners and bg corners */
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
    }
    #sbsr-298 .box-picture img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.65;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #sbsr-298 .number {
        /* 75px - 100px */
        font-size: clamp(4.6875rem, 8vw, 6.25rem);
        line-height: 1em;
        font-weight: 900;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        /* creates the transparent clipping text */
        mix-blend-mode: screen;
        display: block;
        z-index: 10;
    }
    #sbsr-298 .number:before {
        /* opaque white box - For mix-blend-mode to work, we need the 
                   white box inside the .number, so we use a pseudo element.
                   We DON'T add a position to the number so the pseudo positions
                   itself relative to the .box, which has position relative. This
                   allows us to center to .number pseudo inside the .box */
        content: "";
        /* 184px - 294px & changes at desktop */
        width: clamp(11.5rem, 45vw, 18.375rem);
        height: clamp(11.5rem, 45vw, 18.375rem);
        opacity: 1;
        background-color: #fff;
        border-radius: 0.4375rem;
        position: absolute;
        display: block;
        /* these next 3 properties are an old school way to center an absolutely
                   positioned element inside a relative position parent */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    #sbsr-298 .desc {
        /* 16px - 25px */
        font-size: clamp(1rem, 4vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        text-transform: lowercase;
        text-align: center;
        width: 80%;
        color: var(--headerColor);
        position: relative;
        z-index: 10;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-298 {
        /* aligns the button */
        text-align: left;
    }
    #sbsr-298 .container {
        max-width: 80rem;
        /* set to horizontal arrangement */
        flex-direction: row;
        justify-content: space-between;
        gap: 10rem;
    }
    #sbsr-298 .content {
        text-align: left;
        align-items: flex-start;
    }
    #sbsr-298 .image-group {
        width: 40vw;
        max-width: 32.5625rem;
        /* 520px - 672px */
        height: clamp(32.5rem, 51.9vw, 42rem);
        margin: 0;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #sbsr-298 .box {
        /* 251px - 325px */
        width: clamp(15.6875rem, 24.5vw, 20.3125rem);
        height: clamp(15.6875rem, 24.5vw, 20.3125rem);
        left: auto;
        transform: none;
        /* -52px to -102px */
        left: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
        /* 62px - 80px */
        bottom: clamp(3.875rem, 6.2vw, 5rem);
    }
    #sbsr-298 .number:before {
        /* 226px - 293px */
        width: clamp(14.125rem, 22.7vw, 18.3125rem);
        height: clamp(14.125rem, 22.7vw, 18.3125rem);
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-75 {
        padding: var(--sectionPadding);
        /* clips the red box from causing overflow issues */
        overflow: hidden;
        background-color: var(--primary);
    }
    #sbs-75 .container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-75 .content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs-75 .title {
        color: var(--bodyTextColorWhite);
    }

    #sbs-75 .text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
    }
    #sbs-75 .text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-75 .button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--secondary);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--bodyTextColorWhite);
        border-radius: 2rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbs-75 .button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primaryLight);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 2rem;
        transition: width 0.3s;
    }
    #sbs-75 .button-solid:hover:before {
        width: 100%;
    }
    #sbs-75 .wrapper {
        width: 95%;
        max-width: 34.375rem;
        /* 28px - 80px */
        /* pushes up and down by the same amount the decorative box overflows the wrapper */
        margin: clamp(1.75em, 7.8vw, 5em) 0;
        position: relative;
    }
    #sbs-75 .wrapper:before {
        /* Red decorative box */
        content: "";
        /* make it huge so it covers everything on the left as it overflows */
        width: 50em;
        background: var(--primaryLight);
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 28px - 80px */
        /* wrapped in a calc function to get a negative clamp value */
        top: calc(clamp(1.75em, 7.8vw, 5em) * -1);
        bottom: calc(clamp(1.75em, 7.8vw, 5em) * -1);
        right: 4.0625em;
        z-index: -1;
    }
    #sbs-75 .picture {
        width: 100%;
        margin: 0;
        position: relative;
        display: block;
        /* width divided by height */
        aspect-ratio: 0.93134328;
        border-radius: 1rem;
        z-index: 1;
    }
    #sbs-75 .picture:before {
        /* Top right box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: var(--primaryLight);
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    }
    #sbs-75 .picture:after {
        /* Bottom left box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: var(--primaryLight);
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        z-index: -1;
    }
    #sbs-75 .picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-75 .container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: flex-start;
        /* 60px - 128px */
        gap: clamp(3.75rem, 9.5vw, 8rem);
    }
    #sbs-75 .wrapper {
        /* 328px - 502px */
        width: clamp(20.5rem, 37.5vw, 31.375rem);
        /* 440px - 520px */
        height: clamp(27.5rem, 40vw, 32.5rem);
        flex: none;
    }
    #sbs-75 .picture {
        /* 16px - 20px */
        margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
        height: 100%;
        flex: none;
    }
    #sbs-75 .content {
        width: 45%;
    }
}

/*-- -------------------------- -->
<---           More             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #more {
      padding: var(--sectionPadding);
    }
    #more .container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #more .content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #more .card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }
    #more .item {
      list-style: none;
      min-height: 16rem;
      /* 40px - 100px */
      padding: clamp(2.5rem, 7vw, 6.25rem) 1rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
    }
    #more .item:hover .background img {
      transform: scale(1.2);
    }
    #more .tag {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 0.25rem 0;
      color: var(--bodyTextColorWhite);
      display: block;
    }
    #more .h2 {
      font-size: clamp(1.9rem, 4vw, 2.4rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 1.5rem 0;
      color: var(--bodyTextColorWhite);
      display: block;
    }
    #more .button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.8rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.3rem;
      padding: 0 3rem;
      background-color: var(--primary);
      border-radius: 2rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      transition: color .3s;
    }
    #more .button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: var(--primaryLight);
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width .3s;
    }
    #more .button-solid:hover {
      color: var(--headerColor);
    }
    #more .button-solid:hover:before {
      width: 100%;
      border-radius: 2rem;

    }
    #more .background {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      position: absolute;
      border-radius: 2rem;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #more .background:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      border-radius: 2rem;
      opacity: .4;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #more .background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 2rem;
      object-fit: cover;
      transition: transform .6s;
    }
  }
                                  

/* FOOTER   */
.marquee {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
    padding: 20px 0;
    overflow: hidden;
}

.marquee-content {
    display: inline-block;
    animation: marquee 120s linear infinite;
}

.marquee img {
    height: 40px;
    margin: 0 15px;
}

.marquee div {
    display: block;
    position: absolute;
    width: 300%;
    overflow: hidden;
    animation: marquee 100s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
0% { left: 0; }
100% { left: -100%; }
}

.footer {
    background-color: white;
}

.footer-links {
    background: #001628;
    padding: 15px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-bottom {
    background: #f8f9fa;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.footer-bottom a {
    color: #333;
    text-decoration: none;
    margin-left: 1.5rem;
}

.container p a {
    color: #003BE6;
}

hr {
    border: 0; 
    height: 0.2rem; 
    background-color: #003BE6;
}