@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'QbOne';
    src: url(../Fonts/qb-one-semi-bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: #0000FF;
    --secondary: #FFFFFF;
    --bluesecondary: #00FFFF;
}

body {
    background-color: var(--main);
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.jaguar-noticia {
    padding: 2em;
}

h1 {
    font-family: "QbOne";
}

.text-uppercase {
    padding: 0.5em;
    text-align: center;
}
  
.title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2em;
}
  
.news-section {
    background-color: var(--main);
    padding: 2em;
    border-radius: 1em;
}
  
.news-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.news-image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2em;
}

.news-image img {
    width: 100%;
    object-fit: cover;
    height: 35em;
}
  
.news-body {
    font-size: 1em;
    line-height: 1.6;
}

.news-text {
    padding: 2em;
    padding-top: 0%;
}  

  
.highlight {
    font-weight: bold;
}
/*---           Slider           ---*/

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
  }
  
  .logos:after {
    right: 0;
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    margin: 0 40px;
  }
.marquee {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
    padding: 20px 0;
    overflow: hidden;
    line-break: strict;
}

.marquee-content {
    display: inline-block;
    animation: marquee 120s linear infinite;
}

.marquee img {
    height: 40px;
    margin: 0 15px;
}

.marquee div {
    display: block;
    position: absolute;
    width: 300%;
    overflow: hidden;
    animation: marquee 20s linear infinite;
    line-break: strict;
}

.marquee div:hover {
    animation-play-state: paused;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
0% { left: 0; }
100% { left: -100%; }
}

.footer {
    background-color: var(--secondary);
}

.footer-links {
    background: #001628;
    padding: 1.5em 0;
}

.footer-links a {
    color: var(--secondary);
    text-decoration: none;
    margin: 0 1.5em;
    font-size: 1.4em;
}

.footer-bottom {
    background: var(--secondary);
    padding: 1em 0;
    font-size: 1.2em;
}

.footer-bottom a {
    color: #333;
    text-decoration: none;
    margin-left: 1.5em;
}

.container p a {
    color: var(--main);
}

hr {
    border: 0; 
    height: 0.2em; 
    background-color: var(--main);
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carrusel {
    padding: 2em;
    padding-top: 0%;
}

.carousel-text h2 {
    font-weight: bold;
}
.carousel-text p {
    font-size: 1em;
}

.carousel-item img {
    object-fit: cover;
    height: 20em;
    border-radius: 1em;
}
.carousel-container {
    display: flex;
    align-items: center;
    gap: 2em;
}
.carousel {
    flex: 1;
}
.carousel-text {
    flex: 1;
    color: var(--secondary);
}

.second-title {
    font-size: 1.2em;
    font-weight: bold;
}

.table-container {
    background-color: var(--secondary);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.table-container h1 {
    color: var(--main);
    font-weight: bold;
}

.table-container h2 {
    color: var(--main);
    font-weight: bold;
    margin-bottom: 2em;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table th {
    background-color: var(--main) !important;
    color: var(--secondary) !important;
}

.team-logo {
    height: 3em;
}

.driver-photo {
    height: 4em;
    border-radius: 50%;
}

.full-results-btn {
    text-align: center;
    margin-top: 2em;
}

.full-results-btn a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--main);
    padding: 1em 2em;
    border-radius: 2em;
}

.full-results-btn a:hover {
    background-color: transparent;
    border: 1px var(--main) solid;
    color: var(--main);
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 1.5em;
    }

    li {
        font-size: 0.75em;
    }

    .news-section {
        padding: 0;
        padding-bottom: 2em;
        padding-top: 1em;
    }

    .news-image img {
        height: 20em;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .carrusel {
        padding: 0;
    }

    .container {
        max-width: 100%;
    }

    .news-text {
        padding: 0;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .table-container {
        padding: 1em;
        padding-bottom: 2em;
    }

}