@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'QbOne';
    src: url('../fonts/qb-one-semi-bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: #0000FF;
    --secondary: #FFFFFF;
    --bluesecondary: #00FFFF;
}

/* NAV */

nav {
    /* background: rgb(255, 255, 255); */
    padding: 1em 0em;
}

.bg-body-tertiary {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.048) 100%) !important;
}

.navbar-toggler {
    background-color: var(--secondary);
    border: var(--main) solid;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

span.navbar-toggler-icon-custom {
    padding: 0 0 0 0.5em;
}

span.navbar-toggler-icon-custom img {
    filter: invert(8%) sepia(100%) saturate(7196%) hue-rotate(247deg) brightness(98%) contrast(144%);
    width: 1em;
} 

.navbar-brand img{
    width: 6em;
}

span.navbar-toggler-text-menu {
    font-family: "QbOne";
    color: var(--main);
}

/* MAIN SCRREN */

#MainText {
    z-index: 3;
    position: absolute;

}

#MainText h1 {
    font-family: "QbOne";
    color: var(--secondary);
    font-size: 8em;
}

#MainScreen img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* NOTICIAS */

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__track {
    margin: 20px 0;
}

.mainstory {
    display: flex;

}

.mainstory img {
    width: 50%;
}