@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'QbOne';
    src: url('../fonts/qb-one-semi-bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: #0000FF;
    --secondary: #FFFFFF;
    --bluesecondary: #00FFFF;
}

nav {
    background: rgb(0,0,90);
    background: linear-gradient(180deg, rgba(0,0,90,1) 0%, rgba(255,255,255,0) 100%);
    padding: 1em 0em;
}
.navbar-toggler {
    background-color: var(--secondary);
}

.navbar-toggler-icon {
    color: var(--main);
}

.navbar-brand img{
    width: 6em;
}

span.navbar-toggler-text-menu {
    font-family: "QbOne";
    color: var(--main);
}

#MainText .firstText {
    font-family: "QbOne";
    color: var(--secondary);
}

#MainScreen img {
    width: 100vw;
    height: 100vh;
}